/* General reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Classic Foobar dark theme */
    color: #fff;
}

/* Container to hold everything in place */
#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a; /* Set background color */
}

#foobar-title {
    font-weight: bold;
}

/* Header styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #333;
}

#logo {
    height: 100px;
}

nav {
    display: flex;
}

nav a {
    color: #ddd;
    text-decoration: none;
    padding: 0 1em;
}

nav a:hover, nav a.active {
    color: #fff;
}

/* Main content styling */
main {
    flex: 1;
    padding: 1em;
}

/* Visualizer container */
#visualizer-container {
    position: relative;
}

/* Default background for the visualizer canvas */
#audioVisualizerCanvas {
    width: 100%;
    height: 400px;
    background-color: #000;
}

/* Gradient background for the visualizer canvas */
#audioVisualizerCanvas.gradient {
    background: linear-gradient(to bottom, #FF00CC, #6600CC);
}

/* Nature background for the visualizer canvas */
#audioVisualizerCanvas.nature {
    background-color: #228B22;
}

/* Controls styling */
#basicControls, #advancedControls, #visualizer-card {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button {
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

/* Styles for the fullscreen button */
#fullscreenButton {
    margin-left: 10px; /* Add margin to separate it from the stop button */
}
/* Slider labels */
#advancedControls label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#advancedControls span {
    margin-left: 8px;
    font-weight: bold;
}

/* Add spacing between theme selector and next option */
#visualizerThemeSelector {
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #aaa;
    text-align: center;
    padding: 1em;
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    header, nav {
        flex-direction: column;
    }

    nav a {
        margin-bottom: 0.5em;
    }

    #basicControls button, #advancedControls input[type="range"] {
        width: 100%;
    }
}
/* Add this CSS to your styles */
#audioVisualizerCanvas:-webkit-full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none; /* Remove any borders */
}

#audioVisualizerCanvas:-moz-full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none; /* Remove any borders */
}

#audioVisualizerCanvas:fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none; /* Remove any borders */
}

body:-webkit-full-screen {
    overflow: hidden; /* Hide scrollbars */
}

body:-moz-full-screen {
    overflow: hidden; /* Hide scrollbars */
}

body:fullscreen {
    overflow: hidden; /* Hide scrollbars */
}
footer a {
    color: white;
    text-decoration: none; /* Optional: removes the underline from hyperlinks */
}

footer a:hover {
    color: white; /* Ensures the color remains white even when hovered over */
    text-decoration: underline; /* Optional: adds an underline on hover */
}

/* Add this CSS to your existing stylesheet */
/* Fullscreen canvas styles */
#audioVisualizerCanvas:-webkit-full-screen,
#audioVisualizerCanvas:-moz-full-screen,
#audioVisualizerCanvas:-ms-fullscreen,
#audioVisualizerCanvas:fullscreen {
    margin: 0;
    padding: 0;
    border: none; /* Remove any borders */
}

body:-webkit-full-screen {
    overflow: hidden; /* Hide scrollbars */
}

body:-moz-full-screen {
    overflow: hidden; /* Hide scrollbars */
}

body:fullscreen {
    overflow: hidden; /* Hide scrollbars */
}


@media only screen and (max-width: 600px) {
    body, html {
        font-size: 14px; /* Adjusting font size for smaller screens */
    }

    #container {
        flex-direction: column; /* Stack elements vertically on small screens */
    }

    /* Add more responsive styles as needed */
}

/* Accordion styles */
.accordion-button {
    background-color: #333; /* Dark background for the button */
    color: white; /* Text color */
    cursor: pointer; /* Cursor change to indicate it's clickable */
    padding: 18px; /* Padding for spacing */
    width: 100%; /* Full width */
    text-align: left; /* Align text to the left */
    border: none; /* No border */
    outline: none; /* No outline */
    transition: 0.4s; /* Transition for the action */
    font-size: 18px; /* Font size */
}

.accordion-button:after {
    content: '\002B'; /* Add plus sign */
    color: white; /* Color of the plus sign */
    font-weight: bold; /* Make it bold */
    float: right; /* Position to the right */
    margin-left: 5px; /* Spacing */
}

.accordion-button.active:after {
    content: "\2212"; /* Change plus sign to minus sign when active */
}

.accordion-content {
    max-height: 0; /* Start with max-height 0 */
    overflow: hidden; /* Hide the content */
    transition: max-height 0.2s ease-out; /* Transition for the action */
    background-color: #f1f1f1; /* Light background for the content */
    color: black; /* Text color for content */
    padding: 0 18px; /* Padding */
}
