* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1e1e1e;
}

#logo {
    height: 40px;
    margin-right: 15px;
}

h1 {
    font-size: 1.2em;
    font-weight: 500;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

#visualizer-container {
    flex: 1;
    background-color: #000000;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#audioVisualizerCanvas {
    width: 100%;
    height: 100%;
}

#controls {
    margin-top: 10px;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.control-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

button, select, label {
    font-size: 1em; /* Set font size for buttons, select dropdown, and labels */
}

button, select {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px; /* Reduced margin to bring the buttons closer */
}

button:hover, select:hover {
    background-color: #444;
}

#settings.hidden {
    display: none;
}

.slider-group {
    display: flex;
    flex-direction: column;
    width: 200px; /* Fixed width for sliders */
    margin-bottom: 10px;
}

input[type="range"] {
    width: 100%;
}

footer {
    padding: 10px;
    background-color: #1e1e1e;
    text-align: center;
    font-size: 0.8em;
}

footer a {
    color: #00ffff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .control-group {
        flex-direction: column;
        align-items: flex-start;
    }

    button, select {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
